#boxes {
	border: 1px solid #ddd;
	width: 90%;
	height: 600px;
	margin: 20px auto;
	position: relative;
}
.child {
	position: absolute;
	background: #aba6bf;
	color: #fff;
	text-align: center;
	font-size: 15px;
	transition: all .5s ease-in .1s;
}
.light {
	background: #595775;
}
.m-horizontal-wrap .child {
	bottom: 0;
	width: 40px;
}
.m-horizontal-wrap .light {
	background: #595775;
}

.m-vertical-wrap #boxes {
	height: 1000px;
}
.m-vertical-wrap .child {
	left: 0;
	height: 40px;
	line-height: 40px;
	text-align: left;
}
